
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SETUP */

html,
body,
:root {
    height: 100%;
}

/* MAP (leaflet lib)*/

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top{
    z-index: 0 !important;
}

/* SCROLLBAR */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    border-radius: 14px;
    border: 1px solid #d6d6d6;
}


/* LOADER */

@layer components {

    .loader {
        display: block;
        width: 48px;
        height: 48px;
        left: calc(50vw - 24px);
        top: 10px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear 20
    }

    .loader::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid rgb(254 113 117);
        animation: prixClipFix 2s linear infinite;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg)
        }
    }

    @keyframes prixClipFix {
        0% {
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
        }

        25% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
        }

        50% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
        }

        75% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
        }

        100% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
        }
    }
}