
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SETUP */

html,
body,
:root {
    height: 100%;
}

/* MAP (leaflet lib)*/

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top{
    z-index: 0 !important;
}

/* SCROLLBAR */
@media only screen and (min-width: 600px) {
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    border-radius: 14px;
    border: 1px solid #d6d6d6;
}
}